/* This file is for your main application css. */

@import "~milligram/dist/milligram";

.column > p {
    padding-top: 10ex;
    text-align: center;
}

.Card-Face {
    font-family: Monospace;
    font-size: 20px;
    color: black;
    border-width: medium;
    border-style: solid;
    padding: 2px;
}

.Card-Back {
    font-family: Monospace;
    font-size: 20px;
    color: black;
    border-width: medium;
    border-style: solid;
    padding: 2px;
}
